.registration_container{
    width: 25%;
    background-color: #282828;
    height: 1000px;
    border-radius: 15px;
    align-content: center;
    justify-items: center;
}
.registration{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}
.registration button{
    width: 170px;
    height: 40px;
    border-radius: 5px;
    
}