.main_container {
    display: grid;
    width: 80%;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 10px;
}

.drop_zone_container { grid-area: 1 / 1 / 2 / 5; }
.settings_container{ grid-area: 2 / 1 / 3 / 2; }
.result_container { grid-area: 2 / 2 / 3 / 5; }