.settings_container{
    background-color: #1A1D29;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio_button_container{
    margin-top: 10px;
    justify-self: center;
    background-color: #13161F;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 90%;
}

.settings_container button {
    font-size: 17px;
    width: 250px;
    height: 30px;
    justify-self: center;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    color: white;
    border-radius: 5px;
    background: #00A8FF;
    cursor: pointer;
}

.settings_container button:hover {
    transform: translateY(-1px);
}

.radio-group {
    width: 90%;
    background-color: #13161F;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-custom {
    width: 18px;
    height: 18px;
    border: 2px solid #00A8FF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.radio input:checked + .radio-custom::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00A8FF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio:hover .radio-custom {
    box-shadow: 0 0 8px #00A8FF;
    transform: scale(1.05);
}
