@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}



.settings_container .search_content{
    background-color: #1B1B1B;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.settings_container p{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
}

.start_button{
    margin-top: 20px;
    height: 40px;
    background-color: #00FF99;
    border-radius: 5px;
    border: none;
    width: 100%;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.start_button:hover {
    transform: translateY(-5px);
}

.button_group {
    display: grid;
    margin-right: 15px;
    margin-left: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 17px;
    margin-bottom: 40px;
}


.button_group button {
    width: 360px;
    height: 120px;
    border-radius: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: #1B1B1B;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.button_group button p {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000
}

.button_group button img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.button_group .ActiveButton{
    background-color: #00FF99;
}

.button_group .noActiveButton{
    background-color: #282828;
}


