.settings_container{
    background-color: #1A1D29;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio_button_container{
    margin-top: 10px;
    justify-self: center;
    background-color: #13161F;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 90%;
}

.settings_container button {
    font-size: 17px;
    width: 250px;
    height: 30px;
    justify-self: center;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    color: white;
    border-radius: 5px;
    background: #00A8FF;
    cursor: pointer;
}

.settings_container button:hover {
    transform: translateY(-1px);
}