.header {
  justify-self: center;
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 70%;
  background: #282828;
  border-radius: 5px;
  z-index: 100;
}
.header .logo_icon{
  width: 35px;
  height: 35px;
}
.header .left_side {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}
.header .right_side {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .title {
  font-family: Inter , sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white
}

.header .nickname {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white
}

.header .profile_icon {
  width: 35px;
  height: 35px;
}




