.header {
  justify-self: center;
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 45px;
  background: #1A1D29;
  border-radius: 5px;
  z-index: 100;
}
.header img{
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

.header p {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  color: white
}






