/* ===== HEADER ===== */

.header {
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(8px);

  position: sticky;
  top: 0;
  z-index: 100;

  animation: fadeIn 0.5s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.header_inner {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== ТВОЯ КНОПКА ОСТАЁТСЯ БЕЗ ИЗМЕНЕНИЙ ===== */


/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff40;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}


