.drop_zone{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2B2A33;
    height: 400px;
    width: 700px;
    border-radius: 15px;    
    border: solid black;
    border-width: medium;
    text-align: center;
}

.drop_zone p{
    margin-top: 100px;
}

