.drop_zone_container{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1A1D29;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    column-gap: 20px;
    justify-content: center;
}
.drop_zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 730px;
    height: 320px;
    border-radius: 5px;
    background-color: #13161F;
}
.drop_zone img{
    width: 250px;
}
.drop_zone p{
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    color: white
}
.watch_file{
    width:730px;
    height: 320px;
    border-radius: 5px;
    background-color: #13161F;
    display: flex;
    justify-content: center;
}

.watch_file img{
    max-height: 98%;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

