.drop_zone_container{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1A1D29;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    column-gap: 20px;
    justify-content: center;
}
.drop_zone{
    width: 730px;
    height: 320px;
    border-radius: 5px;
    background-color: #13161F;
}
.watch_file{
    width:730px;
    height: 320px;
    border-radius: 5px;
    background-color: #13161F;
}

