.auth-form {
    width: 350px;
    padding: 40px;
    background-color: #1B1B1B;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-color: #00FF99;
    outline: none;
    font-size: 16px;
    background-color: #1B1B1B;
    color: #fff;
    transition: background 0.2s, box-shadow 0.2s;
}

.form-input::placeholder {
    color: #aaa;
}

.main-button {
    width: 100%;
    padding: 12px 0;
    background-color: #00FF99;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

.main-button:hover {
    transform: translateY(-2px);
}

.main-button:active {
    transform: translateY(1px);
}
